// 各種スペーシング・サイズ定義

$font-size-xlarge: 48px;
$font-size-large: 32px;
$font-size-medium: 20px;
$font-size-normal: 16px;
$font-size-mini: 14px;
$space-ll: 16px;
$space-l: 12px;
$space-m: 8px;
$space-s: 4px;
$space-ss: 2px;

$radius: 4px;

// いろいろなところで使える色そのものの定義

$gray1: #a7a7a7;
$gray2: #7e7e7e;
$gray3: #535353;
$gray4: #313131;

$white: #e1e7e4;
$white-o: #e1e7e488;

$purple1: #bc96ff;
$purple2: #8154da;
$purple3: #3e1973;
$purple4: #332150;
$red1: #e66081;
$red2: #b93e5d;
$red3: #4e1f2b;
$blue1: #88bfff;
$blue2: #4a6ecf;
$blue3: #2c3c6e;
$yellow1: #f0e770;
$yellow2: #beb645;
$yellow3: #575a2d;

$primary1: #6e76ec;
$primary2: #3740c2;
$primary3: #2f335f;
$sub1: #ec68ec;
$sub2: #964b96;
$sub3: #3f1d3f;

// 意味のある単位
$main-color: $blue1;
$ingame-background: #1a1a2c;
$frame-background: #18181a;
$shadow: #282729;
$window-border: #c9d2da;

// キャラごとのカラースキーム系はjsから制御したいのでネイティブのCSS変数として扱う
:root {
  --bg1-1: #41524d;
  --bg2-1: #293a36;
  --bg3-1: #131d1b;
  --gray1-1: #a7a7a7;
  --gray2-1: #a7a7a7;
  --gray3-1: #a7a7a7;
  --color-s1-1: #8eebcf;
  --color-s2-1: #58ac90;
  --color-s3-1: #215749;
  --color-h1-1: #ebea8e;
  --color-h2-1: #979632;
  --color-h3-1: #55541f;
  --color-j1-1: #ce76f7;
  --color-j2-1: #9e55c0;
  --color-j3-1: #4c2f5a;
  --color-x1-1: #f4f7ff;
  --color-x2-1: #96979b;
  --color-x3-1: #585468;
  --color-i1-1: #7fcaad;
  --color-i2-1: #42b18c;
  --color-i3-1: #256949;

  --bg1-2: #ad95a2;
  --bg2-2: #362d32;
  --bg3-2: #201c1e;
  --gray1-2: #a7a7a7;
  --gray2-2: #a7a7a7;
  --gray3-2: #a7a7a7;
  --color-s1-2: #ebd28e;
  --color-s2-2: #a78d46;
  --color-s3-2: #6e5c26;
  --color-h1-2: #fc718f;
  --color-h2-2: #c2566d;
  --color-h3-2: #6b2833;
  --color-j1-2: #9ab384;
  --color-j2-2: #77925f;
  --color-j3-2: #4d6836;
  --color-x1-2: #f4f7ff;
  --color-x2-2: #96979b;
  --color-x3-2: #585468;
  --color-i1-2: #f8b334;
  --color-i2-2: #c49030;
  --color-i3-2: #77571d;

  --bg1-3: #47576d;
  --bg2-3: #293647;
  --bg3-3: #161e29;
  --gray1-3: #a7a7a7;
  --gray2-3: #a7a7a7;
  --gray3-3: #a7a7a7;
  --color-s1-3: #7674fc;
  --color-s2-3: #4341b4;
  --color-s3-3: #302d5e;
  --color-h1-3: #f8a969;
  --color-h2-3: #c07a41;
  --color-h3-3: #573b29;
  --color-j1-3: #cb87eb;
  --color-j2-3: #a464c2;
  --color-j3-3: #553b61;
  --color-x1-3: #f4f7ff;
  --color-x2-3: #96979b;
  --color-x3-3: #585468;
  --color-i1-3: #4acef7;
  --color-i2-3: #3492af;
  --color-i3-3: #1c5668;

  --bg1-4: #55405f;
  --bg2-4: #3b2544;
  --bg3-4: #1d1620;
  --gray1-4: #a7a7a7;
  --gray2-4: #a7a7a7;
  --gray3-4: #a7a7a7;
  --color-s1-4: #ddaaff;
  --color-s2-4: #8552a7;
  --color-s3-4: #492f5a;
  --color-h1-4: #8ee5eb;
  --color-h2-4: #58aca5;
  --color-h3-4: #215754;
  --color-j1-4: #cb87eb;
  --color-j2-4: #a464c2;
  --color-j3-4: #553b61;
  --color-x1-4: #f4f7ff;
  --color-x2-4: #96979b;
  --color-x3-4: #585468;
  --color-i1-4: #bb88ff;
  --color-i2-4: #8143c9;
  --color-i3-4: #3d1c68;
}

// 色でも長さでもない定数

$disabled-opacity: 0.5;

$window-width: 1200px;
$window-height: clamp(540px, 100vh - 60px, 800px);
