// 各種スペーシング・サイズ定義

$font-size-xlarge: 48px;
$font-size-large: 32px;
$font-size-medium: 20px;
$font-size-normal: 16px;
$font-size-mini: 14px;
$space-ll: 16px;
$space-l: 12px;
$space-m: 8px;
$space-s: 4px;
$space-ss: 2px;

$radius: 4px;

// いろいろなところで使える色そのものの定義
$disabled-opacity: 0.5;

$white: #f6f6ff;
$frame-background: #18181a;
$window-width: 1200px;
$window-height: 800px;
