@import "constants";

@mixin centering($height) {
  height: $height;
  padding-top: (($height - $font-size-normal) * 0.5);
  line-height: 100%;
  text-align: center;
}

@mixin centeringWithBorder($height, $border) {
  height: $height;
  padding-top: (($height - $font-size-normal - $border * 2) * 0.5);
  line-height: 100%;
  text-align: center;
}

body {
  font-family: "M PLUS 2", sans-serif;
}
