$base1: #ec6e8d;
$base2: #a3435b;
$base3: #4f1a27;
$accent1: #eaec68;
$accent2: #aea948;
$accent3: #57531e;

$bg1: #55354b;
$bg2: #461d35;
$bg3: #251925;
$bg4: #1b101b;
$global-bg: #221b22;
$gray1: #a5a2a8;
$gray2: #828085;
$gray3: #6d6871;
$white: #ebe9f0;
