$base1: #96a2aa;
$base2: darken($base1, 10%);
$base3: darken($base1, 20%);
$accent1: #6992b4;
$accent2: darken($accent1, 20%);
$accent3: darken($accent1, 40%);

$bg1: #0d3751;
$bg2: darken($bg1, 10%);
$bg3: darken($bg1, 20%);
$bg4: darken($bg1, 30%);
$global-bg: #302f35;
$gray1: #a5a2a8;
$gray2: darken($gray1, 20%);
$gray3: darken($gray1, 40%);
$white: #ebe9f0;

$plus: #90b9ff;
$minus: #ff88cd;

$window-width: clamp(1200px, 100vw, 1920px);
$window-height: clamp(540px, 100vh, 800px);

$font-size-mini: 10px;
$font-size-large: 24px;
$font-size-xlarge: 32px;

// キャラごとのカラースキーム系はjsから制御したいのでネイティブのCSS変数として扱う
:root {
  --color-s1: #b9d4fa;
  --color-s2: #587bac;
  --color-s3: #2a3a51;
  --color-d1: #f5aef9;
  --color-d2: #a958ac;
  --color-d3: #633265;
  --color-c1: #c0f495;
  --color-c2: #578332;
  --color-c3: #2e421d;
  --color-h1: #fbab79;
  --color-h2: #a96147;
  --color-h3: #633b2d;
  --color-u1: #d0d6e1;
  --color-u2: #9fa1a8;
  --color-u3: #2a2b2b;
}
.tentative_button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dotted $white;
  background-color: $base3;
  line-height: 100%;
  &.disabled{
    opacity: 0.5;
  }
  &:hover{
    filter: brightness(140%);
  }
}

.tentative_panel{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dotted $accent1;
  background-color: $accent3;
  line-height: 100%;
}

* {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 2px #777;
  }
  &::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 4px;
    box-shadow: none;
  }
}