$base1: #afbbc3;
$base2: darken($base1, 10%);
$base3: darken($base1, 20%);
$accent1: #cb5448;
$accent2: darken($accent1, 20%);
$accent3: darken($accent1, 40%);

$bg1: #0d3751;
$bg2: darken($bg1, 10%);
$bg3: darken($bg1, 20%);
$bg4: darken($bg1, 30%);
$global-bg: #302f35;
$gray1: #a5a2a8;
$gray2: darken($gray1, 20%);
$gray3: darken($gray1, 40%);
$white: #ebe9f0;

$window-width: clamp(1200px, 100vw, 1920px);
$window-height: clamp(540px, 100vh, 800px);

$font-size-mini: 10px;
$font-size-large: 24px;
$font-size-xlarge: 32px;

.tentative_button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dotted $white;
  background-color: $base3;
  line-height: 100%;
  &.disabled{
    opacity: 0.5;
  }
  &:hover{
    filter: brightness(140%);
  }
}

.tentative_panel{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dotted $accent1;
  background-color: $accent3;
  line-height: 100%;
}
